<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.deliverMapper">
	
	<!-- ?대신 deliverDTO의 멤버변수명 사용 #{id}-->
	<insert id="insertDeliver">
		insert into shipment_management(deliver_cd, business_cd, product_cd, order_cd, deliver_date, deliver_count)
							
		values(#{deliver_cd},#{business_cd},#{product_cd}, #{order_cd},#{deliver_date},#{deliver_count})
	</insert>
	
	
	<select id="getDeliverList" resultType="com.itwillbs.domain.DeliverDTO">
    	select * from shipment_management
    </select>
    
    <select id="getDeliver" resultType="com.itwillbs.domain.DeliverDTO">
    select * from shipment_management
    where deliver_cd = #{deliver_cd}
    
    </select>
	
    <update id="updateDeliver">
    	update deliver
    	set deliver_cd = #{deliver_cd}, business_cd = #{business_cd}, product_cd = #{product_cd}, 
    	order_cd = #{order_cd}, deliver_date = #{deliver_date}, deliver_count = #{deliver_count}
    	where deliver_cd = #{deliver_cd}
    </update>
	
<!-- 	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO"> -->
<!-- 		select * from members  -->
<!-- 		where id = #{id} and pass = #{pass}  -->
<!-- 	</select> -->

<!-- 	<select id="selectBlog" parameterType="int" resultType="Blog">
        select * from Blog where id = #{id}
    </select>
    
    <insert id="">
    </insert>
    
    
    <delete id="">
    </delete> -->
    
</mapper>



