<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.PerformMapper">
	
	<insert id="insertPerform">
    	insert into performance
    	values(#{perform_cd},#{instruction_code},#{line_cd},#{order_cd},#{product_cd},#{perform_date},#{fair_prod},#{defect_prod},#{defect_remarks},#{remarks})
    </insert>

	<select id="getPerformList" resultType="com.itwillbs.domain.PerformDTO">
    	select * from performance 
    </select>

	<select id="getPerform" resultType="com.itwillbs.domain.PerformDTO">
        select * from performance
        where perform_cd = #{perform_cd}
    </select>
    
    <update id="updatePerform">
    	update performance
    	set instruction_code = #{instruction_code}, line_cd = #{line_cd}, order_cd = #{order_cd}, product_cd = #{product_cd}, perform_date = #{perform_date}, fair_prod = #{fair_prod}, defect_prod = #{defect_prod}, defect_remarks = #{defect_remarks}, remarks = #{remarks}
    	where perform_cd = #{perform_cd}
    </update>
    
    <delete id="deletePerform">
    	delete from performance
    	where perform_cd = #{perform_cd}
    </delete>
	    
</mapper>



