<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.PerformMapper">
	
	<insert id="insertPerform">
    	insert into performance
    	values(#{perform_cd},#{instruction_code},#{line_cd},#{product_cd},#{perform_date},#{fair_prod},#{defect_prod},#{defect_remarks},#{remarks})
    </insert>

<!-- 	<select id="getPerformList" resultType="com.itwillbs.domain.PerformDTO" resultMap="map1"> -->
<!--     	select * from performance -->
<!--     	limit #{startRow} , #{pageSize} -->
<!--     </select> -->
    
    <select id="getPerformCount" resultType="java.lang.Integer">
        select count(*)
        from(select p.perform_cd, p.instruction_code, p.line_cd, l.line_name, p.product_cd, d.product_name, p.perform_date, o.instruction_qt, p.fair_prod, p.defect_prod, p.defect_remarks, p.remarks
		from performance p join line l
							 on p.line_cd=l.line_cd
						   join `order` o
							 on p.instruction_code=o.instruction_code
				   		   join product d
                    		 on p.product_cd=d.product_cd
        <if test="search != null">
        <if test="selectcol != null">
        	<if test="selectcol == 'perform_cd'.toString()">
        	where perform_cd like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'instruction_code'.toString()">
        	where p.instruction_code like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'line_cd'.toString()">
        	where p.line_cd like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'product_cd'.toString()">
        	where p.product_cd like CONCAT('%',#{search},'%')
        	</if>
        </if>
        </if>) a
    </select>

	<select id="getPerform" resultMap="map2">
        select p.perform_cd, p.instruction_code, p.line_cd, l.line_name, p.product_cd, d.product_name, p.perform_date, o.instruction_qt, p.fair_prod, p.defect_prod, p.defect_remarks, p.remarks
		from performance p join line l
							 on p.line_cd=l.line_cd
						   join `order` o
							 on p.instruction_code=o.instruction_code
				   		   join product d
                    		 on p.product_cd=d.product_cd
        where perform_cd = #{perform_cd}
    </select>
    
    <update id="updatePerform">
    	update performance
    	set instruction_code = #{instruction_code}, line_cd = #{line_cd}, product_cd = #{product_cd}, perform_date = #{perform_date}, fair_prod = #{fair_prod}, defect_prod = #{defect_prod}, defect_remarks = #{defect_remarks}, remarks = #{remarks}
    	where perform_cd = #{perform_cd}
    </update>
    
    <delete id="deletePerform">
    	delete from performance
    	where perform_cd = #{perform_cd}
    </delete>
    

	<resultMap type="map" id="map1">
		<result column="instruction_code" property="instruction_code"/>
	</resultMap>

    <select id="getInstMap" resultMap="map1">
    	select distinct instruction_code from `order`
    </select>
    
    <resultMap type="map" id="map2">
    	<result column="perform_cd" property="perform_cd"/>
		<result column="instruction_code" property="instruction_code"/>
		<result column="line_cd" property="line_cd"/>
		<result column="line_name" property="line_name"/>
		<result column="product_cd" property="product_cd"/>
		<result column="product_name" property="product_name"/>
		<result column="perform_date" property="perform_date"/>
		<result column="instruction_qt" property="instruction_qt"/>
		<result column="fair_prod" property="fair_prod"/>
		<result column="defect_prod" property="defect_prod"/>
		<result column="defect_remarks" property="defect_remarks"/>
		<result column="remarks" property="remarks"/>
    </resultMap>
    
    <select id="getPerformMap" resultMap="map2">
    	select p.perform_cd, p.instruction_code, p.line_cd, l.line_name, p.product_cd, d.product_name, p.perform_date, o.instruction_qt, p.fair_prod, p.defect_prod, p.defect_remarks, p.remarks
		from performance p join line l
							 on p.line_cd=l.line_cd
						   join `order` o
							 on p.instruction_code=o.instruction_code
				   		   join product d
                    		 on p.product_cd=d.product_cd
        <if test="search != null">
    	<if test="selectcol != null">
    		<if test="selectcol == 'perform_cd'.toString()">
        	where perform_cd like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'instruction_code'.toString()">
        	where p.instruction_code like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'line_cd'.toString()">
        	where p.line_cd like CONCAT('%',#{search},'%')
        	</if>
        	<if test="selectcol == 'product_cd'.toString()">
        	where p.product_cd like CONCAT('%',#{search},'%')
        	</if>
        </if>
        </if>
        order by perform_cd
        limit #{startRow} , #{pageSize}
    </select>
    
    	<resultMap type="map" id="map3">
		<result column="line_cd" property="line_cd"/>
	</resultMap>
    
    <select id="getcallcdMap" resultMap="map3">
    	select line_cd
    	from `order`
    	where instruction_code = #{ic}
    </select>
	    
</mapper>



