<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.productMapper">
	
	<!-- ?대신 productDTO의 멤버변수명 사용 #{id}-->
	<insert id="insertProduct">
		insert into product(product_cd,product_name,product_dv,business_cd,product_size,product_unit,remarks) 
		values(#{product_cd},#{product_name},#{product_dv},#{business_cd},#{product_size},#{product_unit},#{remarks})
	</insert>
	
<!-- 	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO"> -->
<!-- 		select * from members  -->
<!-- 		where id = #{id} and pass = #{pass}  -->
<!-- 	</select> -->

<!-- 	<select id="selectBlog" parameterType="int" resultType="Blog">
        select * from Blog where id = #{id}
    </select>
    
    <insert id="">
    </insert>
    
    <update id="">
    </update>
    
    <delete id="">
    </delete> -->
    
</mapper>



