<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.whMapper">
	
	<!-- ?대신 WHDTO의 멤버변수명 사용-->
	<insert id="insertwh">
		insert into warehouse(wh_cd, wh_name, wh_dv,wh_addr, wh_tel, wh_use, remarks) 
		values(#{wh_cd},#{wh_name},#{wh_dv},#{wh_addr},#{wh_tel},#{wh_use},#{remarks})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
        select max(wh_cd) from warehouse
    </select>
	
	<select id="getWhList" resultType="com.itwillbs.domain.WHDTO">
        select * from warehouse
        order by wh_cd desc 
        limit #{startRow} , #{pageSize}    	
    </select>
	
	<select id="getWhCount" resultType="java.lang.Integer">
        select count(*) from warehouse 
    </select>
	
	 <update id="updatewh">
	 	update warehouse set wh_name = #{wh_name}, wh_dv = #{wh_dv}, wh_addr = #{wh_addr}, 
	 	                     wh_tel = #{wh_tel}, wh_use = #{wh_use}, remarks = #{remarks} 
	 	where wh_cd = #{wh_cd}                     
    </update>
    
<!-- 	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO"> -->
<!-- 		select * from members  -->
<!-- 		where id = #{id} and pass = #{pass}  -->
<!-- 	</select> -->

<!-- 	<select id="selectBlog" parameterType="int" resultType="Blog">
        select * from Blog where id = #{id}
    </select>
    
    <insert id="">
    </insert>
    
   
    
    <delete id="">
    </delete> -->
    
</mapper>



